<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
 	
 	
 	<settings>
 		<!-- 将数据库user_name映射成userName 改为驼峰命名 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<!-- 开启延迟加载开关 -->
		<setting name="lazyLoadingEnabled" value="true"/>
 	</settings>
 	<!-- 分页插件 -->
 	<plugins>
 		<plugin interceptor="com.github.pagehelper.PageInterceptor"></plugin>
 	</plugins>
 </configuration>
